.center
  p Hi. I am 
    strong Siddhartha Verma. 
    | People call me Sid.
  p I'm a Computer Science undergraduate at Jaypee University of Engineering and Technology, India.
  p I love to build cool new things, mostly for the web.
  p I am interested in Graphic Design and Photography as well.
  p Feel free to check out my 
    a(href="/Resume.pdf") Resume
    |, or my 
    a(href="http://blog.sidverma.net") blog
    |, and 
    a(href="#footer").social-email email 
    | me if you like what you see.

  .social.row
    .col-md-20p
      a(href="http://github.com/mavidser")
        i.fa.fa-github.social-icon
    .col-md-20p
      a(href="http://twitter.com/mavidser")
        i.fa.fa-twitter.social-icon
    .col-md-20p
      a(href="#footer").social-email
        i.fa.fa-envelope.social-icon
    .col-md-20p
      a(href="http://www.facebook.com/profile.php?id=710763230")
        i.fa.fa-facebook.social-icon
    .col-md-20p
      a(href="http://linkedin.com/in/mavidser")
        i.fa.fa-linkedin.social-icon
a(href="#projects")
  i.fa.fa-chevron-circle-down.down-arrow

