title Sid Verma

meta(charset='UTF-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='keywords', content='Sid Verma, Siddhartha Verma, Jaypee University of Engineering and Technology, JUET, India')
meta(name='description', content='I am a developer and I love building cool new stuff.')
meta(name='author', content='Sid Verma')
meta(content='True', name='HandheldFriendly')
meta(name='MobileOptimized', content='width')
meta(name='viewport', content='width=device-width, initial-scale=1')

link(rel='shortcut icon', href='images/favicon_s.png', type='image/png')
link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700', rel='stylesheet', type='text/css')
//- link(href='src/styles/font-awesome.min.css', rel='stylesheet')
link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
link(rel='stylesheet', href='dist/styles/main.min.css')
