h2 Projects
.row
  .col-md-4
    a(href="")
      .project
        h3 Sumblime Input
        span Quick STDIN input for Sublime Text
  .col-md-4
    a(href="")
      .project
        h3 Terminal Twitter
        span A Sexy CLI for Twitter
  .col-md-4
    a(href="")
      .project
        h3 Hashtag Search
        span One Search to rule them all
.row
  .col-md-4
    a(href="")
      .project
        h3 Attendance Viewer
        span Keep track of your attendance (available only for a few colleges)
  .col-md-4
    a(href="")
      .project
        h3 SimplyNote  
        span A Java based note-taking app.
  .col-md-4
    a(href="")
      .project
        h3 Webkiosk API
        span An unofficial API for the webkiosk (available only for a few colleges)
  
