script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
//- script(src='src/scripts/jquery.min.js')
script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
//- script(src='src/scripts/bootstrap.min.js')

script(src='dist/scripts/main.min.js')

//-Tracking code
script.
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-49246827-1', 'sidverma.net');
  ga('send', 'pageview');

//if lt IE 9
  script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
  script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')

