/* Variables */

$font-stack: 'Lato', sans-serif;
$gray: #2d2d2d;
$light-gray: #777777;
$lighter-gray: #aaaaaa;
$white: #fff;
$black: #000;

/* Globals */

* {
  box-sizing: border-box;
}

body {
  font: 100% $font-stack;
  font-weight: 400;
  font-size: 24px;
  color: $light-gray;
  margin: 0;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  color: $gray;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 15px;
  line-height: 1.25;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 50px;
}

h4 {
  font-size: 40px;
}

h5 {
  font-size: 30px;
}

h6 {
  font-size: 25px;
}

strong {
  font-weight: 600;
}

a {
  color: $black;
  text-decoration: none;
  &:hover, &:visited, &:focus {
    color: $gray;
    text-decoration: none;
  }
}

/* ----------------- */

section {
  display: table;
  background: transparent;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  position: relative;
}

.center {
  display: table-cell;
  vertical-align: middle;
}

#top {
  background: $gray;
}

/* Top Section */

.nav {
  width: 700px;
  margin: 0 auto;
  color: $white;
  letter-spacing: 1px;
  a {
    font-weight: 300;
    color: $white;
    text-decoration: none;
    padding-bottom: 5px;
    &:hover {
      border-bottom: 1px solid $white;
    }
  }
}
.hi > h1 {
  font-weight: 400;
  width: 700px;
  margin: 25px auto;
  padding: 0 25px;
  text-align: left;
  position: relative;
  font-size: 1em;
  color: $light-gray;
}
.down-arrow {
  font-size: 2em;
  color: $light-gray;
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  transition: all 0.2s ease-in-out;
  width: 100px;
  margin: 0 auto;
  &:hover {
    color: $white;
  }
}

/* About Section */

#about {
  font-size: 0.8em;
}
i.fa.social-icon {
  color: $light-gray;
  font-size: 2em;
  margin: 50px 40px 0px 40px;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: $gray;
  }
}
p.email {
  margin-top: 50px;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
