/* Variables */

$font-stack: 'Lato', sans-serif;
$gray: #2d2d2d;
$light-gray: #777777;
$white: #fff;

/* Globals */

* {
  box-sizing: border-box;
}

body {
  font: 100% $font-stack;
  font-weight: 400;
  font-size: 24px;
  color: $light-gray;
  margin: 0;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  color: $gray;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 15px;
  line-height: 1.25;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 50px;
}

h4 {
  font-size: 40px;
}

h5 {
  font-size: 30px;
}

h6 {
  font-size: 25px;
}

strong {
  font-weight: 600;
}

/* ----------------- */

section {
  display: table;
  background: transparent;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  position: relative;
}

.center {
  display: table-cell;
  vertical-align: middle;
}

.top {
  background: $gray;
}

/* Top Section */

.nav {
  width: 700px;
  margin: 0 auto;
  color: $white;
  letter-spacing: 1px;
  a {
    font-weight: 300;
    color: $white;
    text-decoration: none;
    padding-bottom: 5px;
    // transition: all 0.5s ease-in;
    &:hover {
      border-bottom: 1px solid $white;
    }
  }
}
.hi > h1 {
  font-weight: 400;
  width: 700px;
  margin: 25px auto;
  padding: 0 25px;
  text-align: left;
  position: relative;
  font-size: 1em;
  color: $light-gray;
}

/* About Section */

