/* Variables */

$font-stack: 'Lato', sans-serif;
$gray: #2d2d2d;
$mid-gray: #444444;
$light-gray: #777777;
$lighter-gray: #999999;
$lightest-gray: #aaaaaa;
$dark-white: #cccccc;
$white: #fff;
$black: #000;

/* Bootstrap Components */

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}
.col-md-3, .col-md-4, .col-md-20p {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 600px) {
  .col-md-3, .col-md-4, .col-md-20p {
    float: left;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
}
.col-md-20p {
  float: left;
  width: 20%;
}
.row:before,
.row:after {
  clear: both;
  display: table;
  content: " ";
}

/* Globals */

* {
  box-sizing: border-box;
}

body {
  font: 100% $font-stack;
  font-weight: 400;
  font-size: 24px;
  color: $light-gray;
  margin: 0;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  color: $gray;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 15px;
  line-height: 1.25;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 50px;
}

h4 {
  font-size: 40px;
}

h5 {
  font-size: 30px;
}

h6 {
  font-size: 25px;
}

strong {
  font-weight: 600;
}

a {
  color: $black;
  text-decoration: none;
  &:hover, &:focus {
    color: $gray;
    text-decoration: none;
  }
  &:visited {
    color: $black;
    text-decoration: none; 
  }
}

/* ----------------- */

section {
  display: table;
  background: transparent;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  position: relative;
}

.center {
  display: table-cell;
  vertical-align: middle;
}
/* Top Section */

#top {
  background: $gray;
  .center {
    padding: 75px 25px;
  }
}

.nav {
  max-width: 700px;
  margin: 0 auto;
  color: $white;
  letter-spacing: 1px;
  a {
    font-weight: 300;
    color: $white;
    text-decoration: none;
    padding-bottom: 5px;
    &:hover {
      border-bottom: 1px solid $white;
    }
  }
}
.hi > h1 {
  font-weight: 400;
  max-width: 700px;
  margin: 25px auto;
  padding: 0 25px;
  text-align: left;
  position: relative;
  font-size: 1em;
  color: $light-gray;
}
.down-arrow {
  font-size: 2em;
  color: $light-gray;
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  transition: all 0.2s ease-in-out;
  width: 100px;
  margin: 0 auto;
  &:hover {
    color: $white;
  }
}
@media (max-width: 300px) {
  .down-arrow {
    display: none;
  }
  #top > .center {
    padding: 25px 25px;
  }
}

/* About Section */

#about {
  .center {
    padding: 75px 20px;
    padding-bottom: 100px;
  }
  font-size: 0.8em;
  i.down-arrow {
    color: #aaa;
    font-size: 2.5em;
    &:hover {
      color: $lighter-gray;
    }
  }
  @media (max-width: 400px) {
    i.down-arrow {
      display: none;
    }
    .center {
      padding-bottom: 75px;
    }
  }
}
.social {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 55px;
}
i.fa.social-icon {
  color: $light-gray;
  font-size: 2em;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: $gray;
  }
}
@media (max-width: 400px) {
  i.fa.social-icon {
    font-size: 1.5em;
  }
  #about > .center {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 250px) {
  i.fa.social-icon {
    font-size: 1em;
  }
  #about > .center {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* Projects Section */

#projects {
  background: $mid-gray;
  padding: 50px 0px;
  h2 {
    color: $lightest-gray;
    letter-spacing: 3px;
    margin-bottom: 100px;
  }
  .row {
    margin: 0;
  }
  @media (max-width: 300px) {
    h2 {
      font-size: 40px;
      margin-bottom: 70px;
    }
  }
}
.project {
  margin: 0px auto;
  margin-bottom: 106px;
  max-width: 300px;
  h3 {
    color: $lightest-gray;
    font-size: 0.75em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0px;
    margin-bottom: 33px;
  }
  span {
    color: $dark-white;
    font-size: 0.75em;
    font-weight: 400;
  }
}
@media (max-width: 600px) {
  .project {
    margin-bottom: 70px;
  }
  .project > h3 {
    margin-bottom: 20px;
  }
}

/* Contact Section */

#contact {
  padding: 75px 25px;
  color: $light-gray;
  font-size: 1em;
  font-weight: 400;
}
@media (max-width: 400px) {
  #contact {
    font-size: 0.8em;    
    padding: 75px 10px;
  }
}

/* Footer Section */

#footer {
  background: $gray;
  padding: 50px 20px;
  color: $white;
  font-size: 0.75em;
  font-weight: 400;
}
@media (max-width: 400px) {
  #footer {
    font-size: 0.8em;    
    padding: 50px 10px;
  }
}
