doctype html

// @author: Sid Verma
// @email: sid@sidverma.net

html(lang='')
  head
    include includes/head
  
  body
    section.top#top
      .center
        .row.nav
          .col-md-3
            strong @mavidser
          .col-md-3
            a(href="#top") About
          .col-md-3
            a(href="#top") Projects
          .col-md-3
            a(href="#top") Resume

        .hi
          h1 Hi. I am Sid. I am a maker of nice things.

    section#about
      .container
        include includes/about

    section#projects
      .container
        include includes/projects

    section#footer
      include includes/footer

  include includes/scripts
